<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Best of {{ title }}!</span>
  </mat-toolbar-row>
</mat-toolbar>
<div style="text-align:center; margin-top:25px;">

  <img width="100" alt="Angular Logo" src="https://assets.chucknorris.host/img/avatar/chuck-norris.png">
  <div class="fade" *ngIf="resourcesLoaded === false">
      <mat-progress-spinner *ngIf="resourcesLoaded === false" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
<mat-card>
   

  <button *ngFor="let cat of categories" mat-raised-button color="primary" (click)="openDialog(cat)">{{cat}}</button>

</mat-card>

<router-outlet></router-outlet>
