<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo" src="https://assets.chucknorris.host/img/avatar/chuck-norris.png">
  <!--<mat-spinner></mat-spinner>-->
</div>
<h2>Chuck Norris Jokes</h2>
<div *ngFor="let cat of categories">
<button mat-button (click)="openDialog(cat)">{{cat}}</button>
</div>
<ul>
    <li >
        
  </li>
  
</ul>

<router-outlet></router-outlet>
